@import url("https://fonts.googleapis.com/css?family=Lato:400&display=swap");
:root {
  --primary: #b51e1e;
  --primary--dim: #e04e4e;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

/* Resets */
/* prettier-ignore */
html, body, div, h1, h2, h3, p, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: sans-serif;
  }
