# Configuration files
server/src/oidc_config.json
server/ormconfig.json

# Ignore everything webpack makes
client/dist/*
!client/dist/index.html
!client/dist/icons

# Ignore compiled TypeScript stuff
server/dist

*/node_modules
